.App {
  text-align: left;
}

.header-link-container {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background:  radial-gradient(farthest-side at 0% 0%, #d66465 40%, #d66480);
  margin: 0;
  padding-left: 10px;
}

.header-link-item {
  padding: 15px 10px;
}

.header-link-item:hover {
  background-color: #c64445;
}

.header-link-item a {
  text-decoration: none;
  color: white;
}

.body {
  padding: 20px;
}

